<%= content_for :title, "Log in" %>

<div class="row justify-content-center">
  <div class="col col-md-6">
    <h1>Log in</h1>
    <%= strada_form_with url: session_path, html: {"data-turbo-action": "replace"} do |form| %>
      <div>
        <%= form.label :email_address, class: "form-label" %>
        <%= form.email_field :email_address, class: "form-control", required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
      </div>
      <div>
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control", required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
      </div>

      <div class="mb-3">
        <%= form.submit "Log in", class: "btn btn-outline-primary w-100" %>
      </div>
    <% end %>

    <div class="mb-1"><%= link_to "Forgot password?", new_password_path, class: "text-muted" %></div>
    <div class="mb-1">Need an account? <%= link_to "Sign up", new_registration_path, class: "text-muted" %></div>
  </div>
</div>
