<nav class="navbar bg-primary navbar-expand-lg border-bottom"  data-bs-theme="dark">
  <div class="container-lg">
    <%= link_to "Macro Tracker", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav me-auto">
        <% if authenticated? %>
          <li class="nav-item">
            <%= link_to "Stats", dashboard_path, class: "nav-link #{"active" if controller_name == "dashboards"}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Entries", entries_path, class: "nav-link #{"active" if controller_name == "entries"}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Foods", foods_path, class: "nav-link #{"active" if controller_name == "foods"}" %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if authenticated? %>
          <li class="nav-item dropdown">
            <a id="current-user-dropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= current_user.first_name %></a>
            <ul class="dropdown-menu">
              <li class="dropdown-item">
                <%= link_to "Account", account_path, class: "nav-link" %>
              </li>
              <li class="dropdown-item">
                <%= link_to "Log out", session_path, id: "logout", data: { turbo_method: :delete }, class: "nav-link" %>
              </li>
            </ul>
          </li>    
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_session_path, id: "login", class: "nav-link #{"active" if current_page?(new_session_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_registration_path, id: "sign-up", class: "nav-link #{"active" if current_page?(new_registration_path)}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
