<%= strada_form_with model: goal, html: {"data-turbo-action": "replace"} do |form| %>
  <% if goal.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :amount, class: "form-label" %>
    <%= form.text_field :amount, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.submit "Save", class: "btn btn-outline-primary w-100 mb-3" %>
    <% if goal.persisted? %>
      <%= link_to 'Delete', goal, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger w-100 mb-3" %>
    <% end %>
    <%= link_to 'Cancel', goals_path, class: "text-danger text-decoration-none hidden-on-native" %>
  </div>
<% end %>
