<div class="row mb-3">
  <div class="col-md-6 d-flex justify-content-center">
    <!-- https://www.chilitime.design/2018/09/ActivityRings/ -->
    <div class="progress-rings-wrapper">
      <svg class="progress-rings" viewBox='0 0 37 37'>
        <g class="ring ring1" style="transform: scale(1) rotate(-90deg);">
        <circle stroke-width="3" r="15.915" cx="50%" cy="50%" class="background" />
        <circle stroke-width="3" r="15.915" cx="50%" cy="50%" class="completed" stroke-dasharray="<%= (stats.carbs / goals[:carbs].to_f * 100).round %>, 100" />
        </g>
        <!-- Stroke width = 3 / scaling-factor  - SVG Essentials Chapter 5 -->
        <g class="ring ring2" style="transform: scale(0.75) rotate(-90deg);">
        <circle stroke-width="4" r="15.915" cx="50%" cy="50%" class="background" />
        <circle stroke-width="4" r="15.915" cx="50%" cy="50%" class="completed" stroke-dasharray="<%= (stats.protein / goals[:protein].to_f * 100).round %>, 100" />
        </g>
        <!-- Stroke width = 3 / scaling-factor - SVG Essentials Chapter 5 -->
        <g class="ring ring3" style="transform: scale(0.5) rotate(-90deg);">
        <circle stroke-width="6" r="15.915" cx="50%" cy="50%" class="background" />
        <circle stroke-width="6" r="15.915" cx="50%" cy="50%" class="completed" stroke-dasharray="<%= (stats.fat / goals[:fat].to_f * 100).round %>, 100" />
        </g>
      </svg>
    </div>
  </div>
  <div class="col-md-6 d-flex justify-content-center">
      <div class="carbs fs-3 me-3">Carbs <%= stats.carbs %></div>
      <div class="protein fs-3 me-3">Protein <%= stats.protein %></div>
      <div class="fat fs-3">Fat <%= stats.fat %></div>
  </div>
</div>
