<%= content_for :title, "Today" %>

<div class="mb-3">
  <% @today.each do |macro, (amount, goal)| %>
    <div class="d-flex w-100 justify-content-between">
      <div class="fs-1"><%= macro %></div>
      <div class="fs-2 text-muted"><%= amount %> / <%= goal %></div>
    </div>
  <% end %>
</div>

<%= link_to "Add entry", new_entry_path, data: { controller: "bridge--button", bridge_ios_image: "plus" }, class: "btn btn-outline-primary w-100" %>
