<%= turbo_stream_from :entries %>

<%= content_for :title, "Today" %>

<% if @stats.present? && @goals.present? %>
  <div class="d-flex justify-content-end mb-3">
    <%= link_to "Add entry", new_entry_path, data: { controller: "bridge--button", bridge_ios_image: "plus" }, class: "btn btn-outline-primary" %>
  </div>
  <%= render "progress_rings", stats: @stats, goals: @goals if @goals.values.all?(&:positive?) %>
  <%= render "stats", stats: @stats, goals: @goals %>
<% else %>
  <div class="fs-1">No data, yet.</div>
  <p class="lead text-muted">Set up your <%= link_to "goals", account_path %>, and add your first <%= link_to "entry", new_entry_path %> to start tracking your macros.</p>
<% end %>
