<%= turbo_stream_from Current.user, :goals %>

<%= content_for :title, "Stats" %>

<%= turbo_frame_tag "stats", target: "_top", data: { turbo_action: :advance } do %>
  <div class="d-flex justify-content-center mb-3">
    <div class="btn-group me-3">
      <%= link_to "Today", dashboard_path(range: :today),
        data: { turbo_prefetch: false, turbo_frame: "_self" },
        class: "btn btn-outline-primary #{"active" if params["range"].blank? || params["range"] == "today"}" %>
      <%= link_to "Week", dashboard_path(range: :week),
        data: { turbo_prefetch: false, turbo_frame: "_self" },
        class: "btn btn-outline-primary #{"active" if params["range"] == "week"}" %>
      <%= link_to "Month", dashboard_path(range: :month),
        data: { turbo_prefetch: false, turbo_frame: "_self" },
        class: "btn btn-outline-primary #{"active" if params["range"] == "month"}" %>
    </div>
    <%= link_to "Add entry", new_entry_path,
      data: {
        controller: "bridge--button",
        bridge_ios_image: "plus" },
      class: "btn btn-outline-primary" %>
  </div>

  <% if @stats.present? && @goals.present? %>
    <% if params["range"] == "today" || params["range"].blank? %>
      <%= render "progress_rings", stats: @stats.first, goals: @goals if @goals.values.all?(&:positive?) %>
      <%= render "text_stats", stats: @stats.first, goals: @goals %>
    <% else %>
      <%= render "multi_day_stats", stats: @stats, goals: @goals %>
    <% end %>
  <% else %>
    <div class="text-center">
      <div class="fs-1">No data to display, yet.</div>
      <p class="lead text-muted">
        <% if @stats.blank? && @goals.blank? %>
          Set up your <%= link_to "@goals", account_path %>, and add your first <%= link_to "entry", new_entry_path %>
        <% elsif @stats.blank? && @goals.present? %>
          Add an <%= link_to "entry", new_entry_path %>
        <% elsif @stats.present? && @goals.blank? %>
          Set up your <%= link_to "@goals", account_path %>
        <% end %>
        to start tracking your macros.
      </p>
    </div>
  <% end %>
<% end %>
