<%= turbo_frame_tag "entries_nav" do %>
  <div class="pb-2 d-flex justify-content-between align-items-end border-bottom mb-3">
    <h2 class="mb-0"><%= @date.strftime("%a %b %d, %Y") %></h2>
    <div class="d-flex justify-content-between align-items-end">
      <span data-controller="bridge--navigation" class="me-3">
        <%= link_to entries_path(date: date.yesterday),
          data: { turbo_prefetch: false },
          title: "Previous week",
          class: "btn btn-outline-secondary border-0" do %>
          <i class="bi bi-chevron-left"></i>
        <% end %>
        <%= link_to entries_path(date: Date.today),
          data: { turbo_prefetch: false },
          title: "Today",
          class: "btn btn-outline-secondary border-0" do %>
          <i class="bi bi-calendar"></i>
        <% end %>
        <%= link_to entries_path(date: date.tomorrow),
          data: { turbo_prefetch: false },
          title: "Next week",
          class: "btn btn-outline-secondary border-0" do %>
          <i class="bi bi-chevron-right"></i>
        <% end %>
      </span>
      <%= link_to "New",
        new_entry_path,
        data: {
          controller: "bridge--button",
          bridge_ios_image: "plus",
        },
        class: "btn btn-outline-primary" %>
    </div>
  </div>
<% end %>
