<p id="notice"><%= notice %></p>

<div class="mb-3">
  <% @entry.food_entries.each do |fe| %>
    <div><%= fe.food.name %>: <%= pluralize(fe.servings, "serving") %></div>
  <% end %>
</div>

<div class="mb-3">
  <p><strong>Mealtime:</strong></p>
  <div>
    <%= @entry.mealtime %>
  </div>
</div>

<div class="mb-3">
  <p><strong>Eaten at:</strong></p>
  <div>
    <%= @entry.eaten_at %>
  </div>
</div>
    
<ul class="nav">
  <li class="nav-item">
    <%= link_to 'Edit', edit_entry_path(@entry), class: "nav-link text-success" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Back', entries_path, class: "nav-link text-secondary" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Destroy', @entry, class: "nav-link text-danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </li>
</ul>